<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calorie Counting Program</title>
    <script type="module" src="/javaScript/food/foods.js"></script>
    <link rel="stylesheet" href="/css/food/foods.css">
</head>
<body>
<h1>Foods Search</h1>
<form class="search">
    <label>
        <input type="text" class="search__field"/>
    </label>
    <button class="btn search__btn">
        <span>Search</span>
    </button>
</form>

<div class="search-results">
    <ul class="results">

    </ul>
</div>
</body>
</html>