<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calorie counting program</title>
    <script type="module" src="/javaScript/profile/profile.js"></script>
    <link rel="stylesheet" href="/css/profile/profile.css">
</head>
<body>
<h1>User Profile</h1>
<div id="user-info">
    <div id="firstName"></div>
    <div id="lastName"></div>
    <div id="email"></div>
    <div id="gender"></div>
    <div id="age"></div>
    <div id="weight"></div>
    <div id="height"></div>
    <div id="goal"></div>
    <div id="timeToReachGoal"></div>
    <div id="weightToChange"></div>
    <div id="dislikedFood"></div>
    <div id="createdFoods"></div>
    <div class="newFood"></div>
    <form action="#" th:action="@{/food}" method="get">
        <button type="submit">Go to food search</button>
    </form>
    <br>
    <form action="#" th:action="@{/day}" method="get">
        <button type="submit">Go to days</button>
    </form>
</div>
</body>
</html>