<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calorie counting program</title>
    <script type="module" src="/javaScript/day.js"></script>
</head>
<body>
<div id="dayDetails">
    <h2>Day Details</h2>
    <p><strong>Date:</strong> <span id="date"></span></p>
    <p><strong>Needed Calories:</strong> <span id="neededCalories"></span></p>
    <p><strong>Needed Protein:</strong> <span id="neededProtein"></span></p>
    <p><strong>Needed Carbohydrate:</strong> <span id="neededCarbohydrate"></span></p>
    <p><strong>Needed Fat:</strong> <span id="neededFat"></span></p>
    <p><strong>BMR:</strong> <span id="bmr"></span></p>
    <p><strong>TDEE:</strong> <span id="tdee"></span></p>
</div>
</body>
</html>