<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calorie counting program</title>
    <script type="module" src="/javaScript/foodModel.js"></script>
</head>
<body>
    <h1 th:text="${foodModel.getName()}">Food Name</h1>
    <div>
        <p>Calories: <span th:text="${foodModel.getCalorie()}">calories</span></p>
    </div>
    <div>
        <p>Proteins: <span th:text="${foodModel.getProtein()}">protein</span></p>
    </div>
    <div>
        <p>Fats: <span th:text="${foodModel.getFat()}">fat</span></p>
    </div>
    <div>
        <p>Carbohydrates: <span th:text="${foodModel.getCarbohydrate()}">carbohydrate</span></p>
    </div>
    <div class="preference">

    </div>
</body>
</html>