<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
</head>
<body>
    <h1 th:text="${food.getName()}">Food Name</h1>
    <div>
        <p>Calories: <span th:text="${food.getCalorie()}">calories</span></p>
    </div>
    <div>
        <p>Proteins: <span th:text="${food.getProtein()}">protein</span></p>
    </div>
    <div>
        <p>Fats: <span th:text="${food.getFat()}">fat</span></p>
    </div>
    <div>
        <p>Carbohydrates: <span th:text="${food.getCarbohydrate()}">carbohydrate</span></p>
    </div>
</body>
</html>