<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calorie counting program</title>
</head>
<body>
<form th:action="@{/profile/newFood}" method="post" th:object="${food}">
    <div>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}" required><br><br>
    </div>
    <div>
        <label for="calorie">Calories:</label>
        <input type="number" step="0.01" id="calorie" name="calorie" th:field="*{calorie}"  min="0">
    </div>
    <div>
        <label for="protein">Proteins:</label>
        <input type="number" step="0.01" id="protein" name="protein" th:field="*{protein}"  min="0">
    </div>
    <div>
        <label for="fat">Fats:</label>
        <input type="number" step="0.01" id="fat" name="fat"  th:field="*{fat}" min="0">
    </div>
    <div>
        <label for="carbohydrate">Carbohydrate:</label>
        <input type="number" step="0.01" id="carbohydrate" name="carbohydrate"  th:field="*{carbohydrate}" min="0">
    </div>
    <button type="submit">Create</button>
</form>
</body>
</html>