<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="#" th:action="@{/preRegister}" th:object="${preRegisterUserDTO}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" placeholder="Email" id="email" th:field="*{email}" required />
        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid email!</p>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" placeholder="Password" id="password" th:field="*{password}" th:min="8" required />
        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid password!</p>
    </div>

    <div>
        <label for="repeatPassword">Repeat password:</label>
        <input type="password" placeholder="Repeat password" id="repeatPassword" th:field="*{repeatPassword}" required />
        <p class="error" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">Invalid repeat password!</p>
    </div>

    <div>
        <button type="submit">Proceed</button>
    </div>
</form>
</body>
</html>