<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <script type="module" src="/javaScript/profile.js"></script>
</head>
<body>
<div id="user-info">
    <div id="firstName"></div>
    <div id="lastName"></div>
    <div id="email"></div>
    <div id="gender"></div>
    <div id="age"></div>
    <div id="weight"></div>
    <div id="height"></div>
    <div id="goal"></div>
    <div id="timeToReachGoal"></div>
    <div id="weightToChange"></div>
    <div id="dislikedFood"></div>
    <div id="createdFoods"></div>
    <div class="newFood"></div>
    <form action="#" th:action="@{/food}" method="get">
        <button type="submit">Go to food search</button>
    </form>
</div>
</body>
</html>