<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script type="module" src="/javaScript/goal.js"></script>
</head>
<body>
<h2>Registration</h2>
<form th:action="@{/signup}" method="post" th:object="${registerUserDTO}">
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required><br><br>

    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required><br><br>

    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age" th:field="*{age}" min="18" required><br><br>

    <label for="weight">Weight:</label><br>
    <input type="number" id="weight" name="weight" th:field="*{weight}" min="1" max="1000" step="any" required><br><br>

    <label for="height">Height:</label><br>
    <input type="number" id="height" name="height" th:field="*{height}" min="1" max="300" step="any" required><br><br>

    <div class="goal">
        <label for="goal">Goal:</label>
        <select id="goal" th:field="*{goal}" required>
            <option value="" disabled>Select goal</option>
            <option th:each="goal : ${T(com.google.arturnikytenko.tpoproject.Utilities.Goal).values()}"
                    th:value="${goal}" th:text="${goal}">Goal</option>
        </select>
    </div>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" th:field="*{email}" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" th:field="*{password}" minlength="8" required><br><br>

    <button type="submit">Register</button>
</form>
</body>
</html>
