body {
    font-family: Arial, sans-serif;
    background-color: #EE4C7C;
    margin: 0;
    padding: 20px;
    color: white;
}

h1 {
    color: white;
}

form {
    background-color: #E3AFBC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #9A1750;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #E3E2DF;
    color: #9A1750;
}

button {
    background-color: #950740;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #5D001E;
}