body {
    font-family: Arial, sans-serif;
    background-color: #EE4C7C;
    margin: 0;
    padding: 20px;
    color: white;
}

#dayDetails {
    background-color: #E3AFBC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    color: #9A1750;
}

#foodItems div {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #9A1750;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #6F2232;
}