body {
    font-family: Arial, sans-serif;
    background-color: #EE4C7C;
    margin: 0;
    padding: 20px;
    color: white;
}


#daysOfMonth {
    background-color: #E3AFBC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #9A1750;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #E3E2DF;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}